*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
 }

 section
 { 
position: relative;
widows: 100%;
min-height: 100vh;
background: rgb(59, 0, 0);
display: flex;
justify-content: space-between;
align-items: center;
 }
 section .content
 {
position: relative;
padding: 100px 50px 100px 150px;
box-sizing: border-box;

  }
  section .content h2
  {
color: #fff;
font-size: 3em;
font-weight: 800;
  }
  section .content p
  { 
color: #fff;
font-size: 1.2em;

  }
  section .content a
  {
position: relative;
display: inline-block;
padding: 15px 30px;
margin-top: 20px;
background: #ff0000;
color: #fff;
text-decoration: none;
text-transform: uppercase;
font-size: 0.95em;
font-weight: 700;
letter-spacing: 2px;
   }

  section .imgBx
  {
position: relative;
padding-right: 100px;
  }

section .imgBx img
{
max-width: 1000px;

}

.sci
{
position: absolute;
bottom: 75px;
right: 1100px;
display: flex;
}
.sci li

{
list-style: none;
}
.sci li a
{
text-decoration: none;
color: #999;
margin-right: 30px;
font-size: 0.9em;

}

.sci li a:hover
{
    color: #fff;

}

.nav
{
position: absolute;
top: 75px;
right: 1100px;
display: flex;
}
.nav li

{
list-style: none;
}
.nav li a
{
text-decoration: none;
color: #999;
margin-right: 30px;
font-size: 0.9em;

}

.nav li a:hover
{
    color: #fff;

}
